.form {
    margin-top: 10rem;
    width: 80%;
    height: 90%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
}
.form-header {
    font-weight: bold;
    text-align: center;
}
label {

}
input {
    border: 0.5rem solid #000;
    margin-bottom: 1rem;
    padding: 1rem;
}
.btn {
    display: flex;

}



