section .h1{
    font-weight: bold;
    margin: 2rem;
}
.search-element{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.search-bar{
    display: flex;
    text-align: center;
    justify-items: center;
}

.search-bar input{
    width: 10rem;
}
.search-bar fieldset{
    width: 15rem;
}
.search-bar fieldset h3{
    justify-content: center;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
img{
    width: 100%;
    margin-bottom: 2rem;
}