section .title{
    font-weight: bold;
    margin: 1rem;
    text-align: center;
}
.search-element{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.search-bar{
    display: flex;
    text-align: center;
    justify-items: center;
}

.search-bar input{
    width: 7rem;
}
.search-bar fieldset{
    width: 10rem;
}
.search-bar fieldset h3{
    justify-content: center;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
img{
    width: 100%;
    margin-bottom: 2rem;
}