img{
    width: 90%;
}

.home-page{
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
}

.home-page .btn {
    font-size: 2rem;
}

.home-page .btn:hover {
    color: red;
}


