.card{
    max-width: 540rem;
    background-color: #3c3e44;
    color: azure;
    text-align: center;
    border: black solid 1rem;
    margin: 10rem;
    padding: 15px;
    border-radius: 5rem;
}
.card-img-top{
    max-width: 400rem;

}
.card-title{
    font-weight: bold;
    font-size: 30px;
}
.card-text{
    font-style: italic;
    font-size: 15px;
}