.card {
    width: 90%;
    border: 0.2rem solid #555555;
    justify-content: center;
    text-align: center;
    color: black;
    border-radius: 10%;

}
.card-title{
    font-size: 2em;
    font-weight: bold;
}

.card-img-top{
    margin-top: 1rem;
    width: 80%;
    justify-content: center;

}