
.table{
    text-align: center;

}
.table h1{
    font-weight: bold;
}
img{
    margin: 2rem;
    width: 90%;
}
.table-header{
    font-size: 1rem;
    font-weight: bold;
}

.calendar{
    margin: 5rem;
    width: 50rem;
}
.rotate{
    height: 200px;
    white-space: nowrap;
    transform:
        /* Magic Numbers */
            translate(25px, 51px)
                /* 45 is really 360 - 45 */
            rotate(315deg);

}
@media screen and (min-width: 400px){
    .location{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .table{
        text-align: center;
    }
    .table h1{
        font-weight: bold;
    }
    .table img{
        margin: 0.5rem;
    }
    .table-header{
        font-size: .2rem;
        font-weight: bold;
    }

    .calendar{
        margin: 0.5rem;
        width: 33%;
    }
}
