.card {
    width: 30rem;
    border: 0.2rem solid #555555;
    justify-content: center;
    text-align: center;
    background-color: #5b6e61;
    color: wheat;
    border-radius: 10%;

}
.card-title{
    font-size: 2rem;
    font-weight: bold;
}

.card-img-top{
    margin-top: 1rem;
    width: 20rem;
    justify-content: center;

}