.location{
    display: inline;
    justify-content: center;
}
.table{
    text-align: center;
    width:100%;
}
.table h1{
    font-weight: bold;
}
.table img{
    margin: 2rem;
}
.table-header{
    font-size: 1rem;
    font-weight: bold;
}

.calendar{
    margin: 5rem;
    width: 100%;
}
@media screen and (max-width: 48rem){
    .location{
        display: inline;
        justify-content: center;
    }
    .table{
        text-align: center;
        width:100%;
    }
    .table h1{
        font-weight: bold;
    }
    .table img{
        margin: 0.5rem;
        width: 33%;
    }
    .table-header{
        font-size: .2rem;
        font-weight: bold;
    }

    .calendar{
        margin: 0.5rem;
        width: 100%;
    }
}
