.nav-bar{
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    top: 0;
    gap: 5rem;
}

.nav-bar-element{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1em;
    color: black;
    text-decoration: none;
}

.site-title{

    font-style: italic;
    color: black;
    font-weight: bold;
    font-stretch: expanded;
    text-decoration: none;
}
.nav-bar li.active{
    color: #555;
}
.nav-bar li:hover{
    color: #777;
}
@media screen and (min-width: 400px) {
    .nav-bar{
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        position: relative;
    }
}
