
.nav-bar{
    background-color: white;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    top: 0;
    left:0;
    right:0;
    border: 0.5rem solid #777777;

}
.nav-bar a{
    color: inherit;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    text-decoration: none;
}
.nav-bar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1em;
}

.site-title{

    font: italic 2.5em "Fira Sans", serif;
    color: goldenrod;
    font-weight: bold;
    font-stretch: expanded;
}
.nav-bar li.active{
    color: #555;
}
.nav-bar li:hover{
    color: #777;
}
@media screen and (max-width: 500px) {
    .nav-bar{
        display: none;
        height: auto;
    }
    .nav-bar-icon{
        display: none;
    }
}
