@media only screen and (max-width: 640px) {

}
body {
  background-color: #efe5db;
}

.App{

  font-family: Raleway,sans-serif;

}
.app-body{
  background-color: #efe5db;
  font-family: Raleway,sans-serif;
}
